body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s;
    width: calc(100% - 40px); /* Adjust width for padding and margins */
    max-width: 300px; /* Ensure buttons are not too wide */
}

#messi:hover {
    background-color: red;
}

#ronaldo:hover {
    background-color: green;
}

.message, .votes {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

@media (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
    
    .btn {
        padding: 10px;
        font-size: 14px;
        margin: 5px;
    }

    .message, .votes {
        font-size: 16px;
    }
}
